<html>
<head><title>Classify</title></head>
<body>
	<h1>Classify</h1>
	<form method="POST" action="/classify">
		<label>Document:</label>
		<textarea name="doc"></textarea><br />
		<input type="submit" name="Submit" value="Submit">
	</form>
</body>
</html>