<html>
<head><title>Train</title></head>
<body>
	<h1>Train</h1>
	<form method="POST" action="/train">
		<label>Document:</label>
		<textarea name="doc"></textarea><br />
		<label>Category</label>
		<input type="text" name="category"><br />
		<input type="submit" name="Submit" value="Submit">
	</form>
</body>
</html>